/* @import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
    --background: #eaeaea;
    --background-secondary: #fafafa;
    --border: #444444;

    --text-color: #262626;
    
    --header-background: #a367d4;
    --header-text-color: #eaeaea;
    --header-border: #ad79d8;

    --reflink: #72a1dd;
    --reflink-hover: #8baedd;

    --margin-left-right: 25%;

    --section-transition: 0.3s cubic-bezier(0.33, 1, 0.68, 1); /* Ease-out cubic */

    --thumbnail-height: 10em;

    --font: "Lexend", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --code-font: "Space Mono";

    --image-brightness: 1;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #262626;
        --background-secondary: #202020;
        --border: #dddddd;
        
        --text-color: #bebebe;

        --header-border: #8054a3;
        --header-text-color: #222222;

        --reflink: #3f74b9;
        --reflink-hover: #4c89da;

        --image-brightness: 0.9;
    }
}

@media (max-width: 800px) {
    :root {
        --margin-left-right: 1em;
    }
}

@media (max-width: 600px) {
    img.thumbnail {
        width: 100%;
    }
}

@media (min-width: 600px) {
    img.thumbnail {
        height: var(--thumbnail-height);
    }
}

body {
    background-color: var(--background);

    margin: 0;

    font-size: 1.05em;

    display: flex;
    flex-direction: column;

    font-family: var(--font);
    color: var(--text-color);
    min-height: 100vh;
}


header {
    position: sticky;
    top: 0;

    background-color: var(--header-background);
    color: var(--header-text-color);
    border-bottom: 2px solid var(--header-border);

    padding: 0.6em var(--margin-left-right);
    
    z-index: 999;
}

#website-title {
    font-weight: bolder;
    font-size: 1.5em;
}

footer {
    width: calc(100% - var(--margin-left-right) * 2);
    margin: 0 var(--margin-left-right);
    box-sizing: border-box;

    border-top: 0.1em dotted var(--border);

    padding: 0.6em 0;

    display: flex;
    gap: 0.5em;

    z-index: 999;
}

footer > span {
    flex: 1;
}


main {
    flex: 1;
    padding: 0 var(--margin-left-right);

    height: 100vh;
}

main :is(h1, h2) {
    padding-bottom: 0.3em;
    border-bottom: 1px solid var(--border);
}


div.section {
    position: relative;

    top: 3em;
    opacity: 0;

    transition: top var(--section-transition), opacity var(--section-transition);
}


img.inline {
    height: 1em;

    vertical-align: middle;
    padding-right: 0.25em;
}


a {
    color: var(--reflink);
    text-decoration: none;
}

a:hover {
    color: var(--reflink-hover);
    text-decoration: underline;
}

/* On Apple devices, this creates an emoji. */
/* a.external::after {
    content: " ↗";
} */


ul.unlisted {
    list-style: none;
}

ul.inline {
    margin: 0;
}


article:has(img.thumbnail) {
    min-height: calc(var(--thumbnail-height) + 0.3em);
}


img.thumbnail {
    vertical-align: top;

    display: inline-block;

    border: 0.15em solid var(--border);
    border-radius: 0.3em;

    margin-bottom: 0.5em;

    filter: brightness(var(--image-brightness));
    
    box-sizing: border-box;
}

img.thumb-left {
    margin-right: 0.5em;
    float: left;
}

img.thumb-right {
    margin-left: 0.5em;
    float: right;
}


code {
    border: 1px solid var(--border);
    border-radius: 0.2em;

    padding-left: 0.2em;
    padding-right: 0.2em;

    margin-left: 0.1em;
    margin-right: 0.1em;
    margin-block: 0.2em;

    background-color: var(--background-secondary);

    font-family: var(--code-font);

    display: inline-block;

    text-decoration: inherit;
}