@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
    --background: #ebebeb;
    --background-secondary: #f3f3f3;
    --border: #444444;

    --text-color: #262626;

    --header-background: #a367d4;
    --header-text-color: #ebebeb;
    --header-border: #ad79d8;

    --reflink: #72a1dd;
    --reflink-hover: #8baedd;

    /* --margin-left-right: 25%; */
    --content-width: 50vw;
    --context-max-width: 800px;

    --section-transition: 0.3s cubic-bezier(0.33, 1, 0.68, 1); /* Ease-out cubic */

    --thumbnail-height: 10em;

    --font: "Lexend", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --code-font: "Space Mono";

    --image-brightness: 1;

    --header-height: 0;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #262626;
        --background-secondary: #202020;
        --border: #dddddd;

        --text-color: #bebebe;

        --header-border: #8054a3;
        --header-text-color: #222222;

        --reflink: #3f74b9;
        --reflink-hover: #4c89da;

        --image-brightness: 0.9;
    }
}

@media (max-height: 200px) {
    header {
        position: relative;
    }
}

@media (min-height: 200px) {
    header {
        position: sticky;
        top: 0;
    }
}

@media print {
    .not-visible-on-print {
        display: none;
    }

    div.print-break-here {
        break-before: page;
    }
}

@media screen {
    .hash-selected {
        padding-left: 0.3em;
        padding-top: 0.3em;
        padding-right: 0.3em;

        border-top-left-radius: 0.25em;
        border-top-right-radius: 0.25em;

        background-color: var(--header-background);
        color: var(--header-text-color);
    }

    .hash-selected:is(h3, h4, h5, h6) {
        padding-bottom: 0.3em;
    }

    div.print-break-here {
        display: none;
    }
}

* {
    font-family: var(--font);
}

*:focus {
    outline: 0.05em solid var(--header-background);

    border-radius: 0.2em;
}

html {
    background-color: var(--header-background);
}

body {
    background-color: var(--background);

    margin: 0;

    font-size: 1.05em;

    display: flex;
    flex-direction: column;

    color: var(--text-color);
    min-height: 100vh;
}


header {
    background-color: var(--header-background);
    color: var(--header-text-color);
    border-bottom: 2px solid var(--header-border);

    padding: 0.6em 0;

    z-index: 999;

    /* margin-bottom: 1em; */
}

header > div {
    width: var(--content-width);
    max-width: var(--context-max-width);

    margin: 0 auto;

    display: flex;
    align-items: center;
}

header .header-right {
    font-size: 1.5em;
    float: right;
}

#website-title {
    font-size: 1.5em;
    font-weight: bolder;
}

footer {
    width: var(--content-width);
    max-width: var(--context-max-width);

    margin: 0 auto;
    box-sizing: border-box;

    border-top: 0.1em dotted var(--border);

    padding: 0.6em 0;

    display: flex;
    gap: 0.5em;

    z-index: 999;
}

footer > span {
    flex: 1;
}


div.flex-filler {
    margin: 0 auto;
}


div.action {
    color: var(--header-text-color);

    width: 1lh;
    height: 1lh;

    display: flex;
}

button.action {
    width: 100%;
    height: 100%;

    display: flex;

    background: none;

    padding: 0;
    margin: 0;
    border: 0;

    user-select: none;
}

button.action:hover {
    border: 1px solid var(--header-text-color);
    border-radius: 0.1em;
}

img.action {
    height: 100%;
}


.dropdown-menu {
    background-color: var(--header-background);
    color: var(--header-text-color);
    border: 2px solid var(--header-border);

    font-size: calc(2em / 3);

    transform: translateX(calc(1.5lh));

    padding: 0.6em;

    box-sizing: border-box;

    z-index: 999;

    position: absolute;

    top: 125%;
}