nav.sticky-nav {
    margin-right: 2em;

    position: sticky;

    top: calc(var(--header-height) + 1em);
}

nav.content-list {
    max-width: 250px;
}

nav.content-list h1 {
    margin-top: 0.2em;

    font-size: 1em;

    padding-bottom: 0.3em;
    border-bottom: 1px solid var(--border);

    text-align: center;
}

nav.sticky-nav h1 {
    margin-top: 1em;
}

nav.content-list a {
    margin-block: 0.2em;
    display: block;
}

nav.content-list .H2 {
    padding-left: 1.5em;
}

nav.content-list .H3 {
    padding-left: 3em;
}

nav.content-list .H4 {
    padding-left: 4.5em;
}

nav.content-list .H5 {
    padding-left: 6em;
}

nav.content-list .H6 {
    padding-left: 6.5em;
}


a.current-sidebar-nav {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bolder;
    pointer-events: none;
}